@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #131313;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1500px;
    transform-style: preserve-3d;
}

.container .box {
    width: 300px;
    height: 400px;
    margin: 40px;
    background: #232323;
    border-radius: 20px;
    transform-style: preserve-3d;
}

.container .box::before {
    content: "NIKE";
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 6em;
    font-weight: 900;
    color: #ffffff;
    font-style: italic;
    opacity: 0;
}

.container .box::after {
    content: "SHOES";
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 5em;
    font-weight: 900;
    color: #ffffff;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}

.container .box:hover::before,
.container .box:hover::after {
    opacity: 0.04;
}

.container .box .name {
    position: absolute;
    top: 20px;
    left: 0;
    text-align: center;
    color: lightgray;
    width: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 75px);
    transition: 0.5s;
    z-index: 10;
}

.container .box:hover .name {
    top: 4px;
    opacity: 1;
}

.container .box .price {
    position: absolute;
    bottom: 0;
    right: 60%;
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 75px);
    color: lightgray;
    background: rgb(33, 33, 34);
    padding: 10px 25px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.05s;
    opacity: 0;
    z-index: 10;
}

.container .box:hover .price {
    align-items: center;
    opacity: 1;
}

.container .box .buy {
    position: absolute;
    bottom: 0;
    left: 60%;
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 75px);
    color: #ffffff;
    background: #b82a25;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.05s;
    opacity: 0;
    z-index: 10;
}

.container .box:hover .buy {
    align-items: center;
    opacity: 1;
}

.container .box .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 0.5s;
    background: #ffffff;
    transform-style: preserve-3d;
    z-index: 10;
    opacity: 0;
    transform: translate3d(-40%, 50%, 50px);
}

.container .box:hover .circle {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 0.5s;
    background: red;
    transform-style: preserve-3d;
    z-index: 10;
    opacity: 1;
    transform: translate3d(0, 0, 40px);
}

.container .box .product {
    top: 50%;
    left: 100%;
    margin-top: 110px;
    max-width: 300px;
    transition: 0.5s;
    z-index: 11;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 100px) rotate(-15deg);
}

.container .box:hover .product {
    transform: translate3dtranslate3d(0, 0, 75px) rotate(15deg);
}

.container .box:nth-child(1) .circle,
.container .box:nth-child(1) .buy {
    background: rgb(184, 14, 14);
}